{% extends "main/base.html" %}
{% load static %}

{% block content %}    
    <div id="main">
        <br>
        <br>
        <div id="box" onmouseover="spin();"></div>
    </div>
    <br>
    <div>
        <p align="center" style="font-size: 270%" ><b>Физика</b></p>
        <img class="centers" src="{% static "main/img/sfera.png" %}" alt="Ошибка загрузки" width="300px" height="300px">
    </div>
    
    <div class="physblock">
        <h4 class="physblock">Физика — область естествознания: наука о наиболее общих законах природы, о материи, её структуре, движении и правилах трансформации. Простыми словами, Физика - это все что нас окруажет. Понятия физики и её законы лежат в основе всего естествознания. Является точной наукой.</h4>
    </div>
    <br>
    <br>
    <br>
    <p align="center" style="font-size: 270%" ><b>Что даст вам наш сайт?</b></p>
        <img class="center" src={% static "main/img/chel.jpg" %} alt="Ошибка загрузки" width="300px" height="300px">
    <h4 class="physblock">Lawsyn - даст вам максимальное количество информации во всей сфере физики. Мы предоставляем вам учебники и сборники задач используемые во всех уголках страны. Наши калькулятор решит все ваши потребности. При помощи Lawsyn вы можете легко найти нужную вам физическую величину и узнать о ней.</h4>
    <br>
    <br>
    <br>  
    <p align="center" style="font-size: 270%"><b>Часто задавыаемые вопросы</b></p>
    <img class="center" src={% static "main/img/vopros.jpg" %} alt="Ошибка загрузки" width="300px" height="300px">
    <h4 class="physblock">Частые вопросы, которые возникают:
        <br>
    -Возможно ли выучить всю физику на нашем сайте?
        <br>
    -Правильно ли записаны и расписаны физические величины?
        <br>
    -Возможно ли сдать экзамен использую Lawsyn?
        <br>
    Мы ответим вам - да! Наш сайт предоставит всю нужную информацию по изучению такого предмета как физика.
    </h4>
    <br>
    <br>
    <br>
    <p align="center" style="font-size: 270%" ><b>Почему именно Lawsyn?</b></p>
        <img class="center" src={% static "main/img/mi.jpg" %} alt="Ошибка загрузки" width="300px" height="300px">
    <h4>Почему именно Lawsyn должен стать вашим путеводителем по физике? Мы дадим вам ответ
        <br>
    -Наш сайт был создан совсем не давно, а это значит, что он являеется актулаьным &#10004;
        <br>
    -Lawsyn был специализирован конкретно на физике и ни на чем больше &#10004;
        <br>
    -Мы отсеяли все лишние и не нужные источники информации &#10004;
        <br>
    -Наш сайт был сделан максимально простым и приятным в использовании &#10004;
        <br>    
    </h4>
    <br>    
    <br>    
    <br>    
{% endblock  %}